*{
    font-family: cursive;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 17px;
    margin-right: 5vw;
    margin-left: 5vw;

}
.logo{
    margin-top:18px;
}
.navigation{
    display: flex;
    list-style: none;

}
.navigation li{
    margin-right: 15px;
    
}
.navigation a{
    text-decoration: none;
    color: black;


}
.joinRequest{
    background:linear-gradient(to right, #31cf6b, #2cbac7);
    border-radius: 10px;
    margin-top: 10px;
    max-width: fit-content;
    padding: 5px 10px 5px 10px ;
    max-height: 30px;


}
.joinRequest a{
text-decoration: none;
color: #f1f1f1;
}
.joinRequest:hover{
    border-style: outset;
}
.register{
    background:linear-gradient(to right, #31cf6b, #2cbac7);
    border-radius: 15px;

    padding: 7px;
    max-width: fit-content;
}
.register a{
    text-decoration: none;
    color:#f1f1f1;
}
.banner{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-wrap: wrap;
    max-height: 350px;
    margin-top: 20px;
}
.svgBackground svg {
    position: relative;
    width: 30vw;
    clip-path: inset(25% 0 0 0);
    left:70%;
    transform: translateY(-450px);
  }
  
  .svgBackground img {
    position: absolute;
    z-index: 1;
    clip-path: inset(12% 0 0 0);
    left:68%;
    transform: translateY(-300px);
  }
  .question{
    margin-left: 5vw;
  }